<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body background="https://pixabay.com/static/uploads/photo/2015/10/09/13/10/question-mark-979204__340.png">
    <div class="row">
    <div id=".input_field">
      <form class="col s12" method="get" action="/">
        <div class="row">
          <div class="input-field col s6">
           <input id="search" type="text" class="validate" name="search">
                            <label for="search">Query?</label>
<!--            <i class="material-icons prefix">mode_edit</i>-->
<!--            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>-->
<!--            <label for="icon_prefix2">Query? </label>-->
 <p><input type="submit" type="Go!"></p>
          </div>
        </div>
      </form>
    </div>
    </div>

  </body>
</html>