<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="script.js"></script>
  </head>
  <h1> A Question Please.</h1>
  <body background="https://pixabay.com/static/uploads/photo/2015/10/09/13/10/question-mark-979204__340.png">
    <form method="get" action="/">
      <p><input type="text" name="search"></p>
      <p><input type="Submit"></p>
    </form>
  </body>
</html>
